.wrapper {
    max-width: 65rem;
    width: 100%;
    margin: 2rem auto;
    padding: 5rem;
    text-align: center;
  }
  button {
    font-size: 2em;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  button:hover {
    color: #3498db;
  }
  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  button[class^="g"]::after {
    transition: all 0.3s ease;
  }
  button[class^="g"]:hover::after {
    transition: all 0.3s ease-out;
  }
  button.g::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
  }
  button.g:hover::after {
    transform: scale(1, 1);
  }